@tailwind base;
@tailwind components;
@tailwind utilities;

  @import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@600&family=Poppins&family=Roboto:wght@500&display=swap');

  *>*{
    font-family: 'Poppins', sans-serif;
  }

  body{
    background-color: #dcdce5;
    background-image: url('./assets/background.png');
    background-position: center;
  }